/* common css start now */
*{
    margin: 0;
    padding: 0;
}
body{
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
}

.btn-primary{
background-color: #E55473;
border: none;
padding: 15px 35px;
color: #FFF;
font-size: 20px;
font-weight: 700;
margin-top: 20px;
}

main{
    margin: 0 auto;
}


/* Header section css */

.lets-make-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:rgba(229, 84, 115, 0.10);
}

.let-make-img{
    margin: 0px 50px 0px 0px;

}
.let-make-title{
color: #272727;
font-size: 70px;
font-weight: 800;
margin-bottom: 20px;
}
.let-make-header{
    margin: 100px 50px 100px 200px;
}
.let-make-description{
color: rgba(39, 39, 39, 0.60);
font-size: 18px;
font-weight: 400;
}

/* sale section css */
#sale-section{
    border-radius: 8px;
   background-color: rgba(229, 84, 115, 0.05);
}
.sale-section{
display: flex;
justify-content: space-around;
align-items: center;
}
.sales-content{
    margin: 50px 0px 50px 200px;
    text-align: center;
}
.sales-image{
    margin: 50px 150px 50px 100px;
}
.sales-head{
color: #272727;
font-size: 30px;
font-weight: 800;
margin-bottom: 10px;
}
.sales-description{
color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-weight: 400;
margin-bottom: 20px;
}
