/* common css start now */
*{
    margin: 0;
    padding: 0;
}
body{
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
}

.btn-primary{
background-color: #E55473;
border: none;
padding: 15px 35px;
color: #FFF;
font-size: 20px;
font-weight: 700;
margin-top: 20px;
border-radius: 10px;
}

main{
    margin: 0 auto;
}


/* Header section css */

/* navbar css start now */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #db6e85;
}

#navbar{
    display: flex;
    justify-content: space-between;
}
.nab-link{
    display: flex;
    margin-right: 10px;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #FFF;
}
.r-color{
    color: #3eda91;
    font-size: 45px;
    font-weight: 800;
    cursor: pointer;
    }

.nav-title{
    color: #FFF;
    font-size: 55px;
    font-weight: 800;
    margin-left: 175px;
    text-transform: uppercase;
    cursor: pointer;
}

.anchor-link{
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    cursor: pointer;
}

.anchor-link:hover{
    transition: 2s all;
    border: 5px solid #FFF;
    color: #3eda91;
    padding: 10px;
}

/* our feature section css */
.our-feature-head{
    text-align: center;
    margin-top: 100px;
}
.feature-title{
color: #272727;
font-size: 40px;
font-weight: 800;
}
.feature-description{
color: rgba(39, 39, 39, 0.60);
font-size: 18px;
font-weight: 400;
line-height: 30px;
}

.our-feature-image{
    display: block;
    display: flex;
    justify-content: space-around;
    margin: 50px 150px 50px;
}

.feature-img1{
width: 310px;
height: 428px;
border-radius: 300px 300px 0px 0px;
background: rgba(71, 125, 17, 0.15);
}

.feature-img2{
width: 310px;
height: 428px;
border-radius: 300px 300px 0px 0px;
background: rgba(5, 151, 160, 0.15);
 }

.feature-img3{
width: 310px;
height: 428px;
border-radius: 300px 300px 0px 0px;
background: rgba(167, 33, 98, 0.15);
}

.feature-img-title{
text-align: center;
color: #272727;
font-size: 24px;
font-weight: 700;
line-height: 35px;
text-decoration-line: underline;
}





/* lets make content css */

.lets-make-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:rgba(229, 84, 115, 0.10);
}

.let-make-img{
    margin: 0px 50px 0px 0px;

}
.let-make-title{
color: #272727;
font-size: 70px;
font-weight: 800;
margin-bottom: 20px;
}
.let-make-header{
    margin: 100px 50px 110px 200px;
}
.let-make-description{
color: rgba(39, 39, 39, 0.60);
font-size: 18px;
font-weight: 400;
}

/* sale section css */
#sale-section{
    border-radius: 8px;
   background-color: rgba(229, 84, 115, 0.05);
}
.sale-section{
display: flex;
justify-content: space-around;
align-items: center;
}
.sales-content{
    margin: 50px 0px 50px 200px;
    text-align: center;
}
.sales-image{
    margin: 50px 150px 50px 100px;
}
.sales-head{
color: #272727;
font-size: 30px;
font-weight: 800;
margin-bottom: 10px;
}
.sales-description{
color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-weight: 400;
margin-bottom: 20px;
}

/* instagram section css */
.instagram-head{
    text-align: center;
    margin-top: 100px;
}
.instagram-title{
color: #272727;
text-align: center;
font-size: 40px;
font-weight: 800;
}
.instagram-description{
color: #272727;
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 30px;
}

.instgram-img-section{
    display: flex;
    justify-content: space-around;
    margin: 50px 150px 100px 150px;
}
.ins-image{
    width: 250px;
    height: 300px;
}

/* submit section start */
#submit-section{
   margin: 50px 150px 50px 150px;
}
.submit-head{
    background-image: url('../media/Rectangle\ 9.png');
    width: 100%;
    height: 449px;
    background-repeat: no-repeat;
    text-align: center;
}
.submit-title{
color: #272727;
font-size: 40px;
font-weight: 800;
padding-top: 100px;
}

.form-btn{
width: 500px;
padding: 20px 30px 20px 20px;
border: none;
}
.submit-description{
color: #272727;
text-align: center;
font-size: 18px;
font-weight: 400;
margin-top: 10px;
margin-bottom: 10px;
}

/* footer section css */
footer{
    background-color: #111010;
    height: 449px;
    text-align: center;
    color: #FFF;
    
}
.footer-content{
padding-top: 150px;

}
.footer-title span{
    color: #E55473;
    font-size: 48px;
    font-weight: 800;
}
.footer-title{
color: #FFF;
font-size: 48px;
font-weight: 800;
}
.footer-description{
text-align: center;
font-size: 18px;
font-weight: 400;
margin-top: 15px;
margin-bottom: 15px;
line-height: 30px;
}
.footer-copy-right{
color: rgba(255, 255, 255, 0.40);
text-align: center;
font-size: 16px;
font-weight: 400;
}